{% extends 'portfolio/base.html' %}
{% block content %}

<h1>Emmanuel Solorzano's Portfolio</h1>

<div class="intro">
    <h2>Welcome to my portfolio</h2>
    <p>A brief summary of my professional life</p>
</div>

<div class="container cards">
    <h3 class="izq">Recent Projects:</h3>
    
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4" style="display: flex; justify-content: center; margin-top: 1.5rem;">
        {% if projects.has_previous %}
            <a class="carousel-control-prev position-relative" href="?page={{ projects.previous_page_number }}">
        {% endif %}
        <button class="carousel-control-prev position-relative" type="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        {% if projects.has_previous %}
            </a>
        {% endif %}
            <div class="separation">
            </div>
        {% if projects.has_next %}
            <a class="carousel-control-next position-relative" href="?page={{ projects.next_page_number }}">
        {% endif %}   
        <button class="carousel-control-next position-relative" type="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        {% if projects.has_next %}
        </a>
        {% endif %}
    </div>


    <div class="row align-items-start padding-bottom" style="color: black;">
        {% for project in projects %}
            <div class="col">
                <div class="card shadow-sm">
                    {% load static %}
                    {% if project.url %}
                        <a href="{{ project.url }}">
                    {% endif %} 
                    <img src="{{ project.image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
                    {% if project.url %}
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h4 style="color:black; font-weight:bold;">{{ project.title }}</h4>
                        <p class="card-text">{{ project.description|striptags|truncatechars:50 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'portfolio:detailProject' project.id %}" class="btn btn-primary" style="text-align:center;">See project</a>
                            <small class="text-muted">{{ project.dateProject|date:'M d Y'|upper }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if numProjects == 1 %}
                <div class="col" style="visibility:hidden;">
                    <div class="card shadow-sm">
                        <img src="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        <div class="card-body">
                            <h4 style="color:black; font-weight:bold;"></h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary" style="text-align:center;"></a>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="visibility:hidden;">
                    <div class="card shadow-sm">
                        <img src="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        <div class="card-body">
                            <h4 style="color:black; font-weight:bold;"></h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary" style="text-align:center;"></a>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %} 
        {% if numProjects == 2 %}
                <div class="col" style="visibility:hidden;">
                    <div class="card shadow-sm">
                        <img src="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                        <div class="card-body">
                            <h4 style="color:black; font-weight:bold;"></h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary" style="text-align:center;"></a>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %} 
    </div>   
</div>

{{ projects.count }}
    
{% endblock %}